.book-details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 100px;
}

.book-details .details-content {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-details img {
  width: 300px;
}
