.book-index {
  position: relative;
  font-size: 16px;
}

.header-book-index {
  padding: 0.8rem;
  margin-block: 10px;
}

/* .header-book-index button {
  padding: 0.6rem;
  background-color: var(--bgc-btn-header-book-index);
  color: aliceblue;
  font-size: 18px;
} */

.header-book-index button:hover {
  color: black;
  background-color: var(--bgc-btn-card-header-book-index-hover);
}
