.book-index {
  position: relative;
  font-size: 18px;
}

.header-book-index {
  padding: 0.8rem;
}

.header-book-index button {
  padding: 0.6rem;
  background-color: var(--bgc-btn-header-book-index);
  color: aliceblue;
}
